In [1]:
import pandas as pd

In [2]:
#读比对后的bam
bed_path = "../../processed/ACEC001/atac/ACEC001.atac.R2_5.bed.gz"

In [3]:
#读取压缩的tsv文件
df = pd.read_csv(bed_path, sep='\t', header=None, compression='gzip')

In [5]:
df.columns = ['chr', 'start', 'end', 'name', 'MAPQ', 'strand']

In [6]:
df.head()

,chr,start,end,name,MAPQ,strand
0,chr2,61244922,61245034,A00358:815:HKYVYDSX3:4:1101:10366:35540,60,+
1,chr18,59258689,59258801,A00358:815:HKYVYDSX3:4:1101:10393:30420,60,-
2,chr8,76554757,76554869,A00358:815:HKYVYDSX3:4:1101:10773:31391,60,-
3,chr9,2280960,2281072,A00358:815:HKYVYDSX3:4:1101:10782:21981,1,+
4,chr21,26921857,26921970,A00358:815:HKYVYDSX3:4:1101:10926:28369,60,-

In [ ]:
#结构？
#TODO:3dg文件
GM12